<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oink!</title>
</head>
<body>
    {% for blog_post in posts: %}
        {% if blog_post["id"] % 2 == 0: %}
            <h1>{{ blog_post["title"] }}</h1>
        {% endif %}
        <h2>{{ blog_post["subtitle"] }}</h2>
    {% endfor %}
    <a href="{{ url_for('get_blog') }}">Read more</a>
    <a href="{{ url_for('get_blog_num', num=3) }}">Read more with parameter</a>
<!--    adding parameter into the method example-->
<!--    <a href="{{ url_for('get_blog', num=3) }}">Read more</a>-->
</body>

</html>